# Copy this file to .env and fill in your values
# Do NOT commit the real .env file to version control

# Your secure web interface password
PIHOLE_PASSWORD=yourpasswordhere

# The static IP of the Linux host
HOST_IP=192.168.x.x